<section style="fluid-container">
<div class="row" >
  <div class="col-md-3">{{ partial "left-sidebar.html" . }}</div>
  <div class="col-md-6">

    <p>
      <a class="top_link">Hindu Council of Australia Celebrates Divali at Parliament House</a><br />
      <a class="top_link">Canada's Devi Mandir Promotes Youth Group</a><br />
      <a class="top_link">India's World-Wide Cultural Diffusion</a><br />
      <a class="top_link">Europe's largest Hindu temple opens in Britain :</a><br /><a class="top_link">Chinese-made Hindu gods rule Indian markets</a></p>
  </div>
  <div class="col-md-3">{{ partial "right-sidebar.html" . }}</div>
</div>
</section>
