      <ul class="list-group">
        <li class="list-group-item list-group-item-action active">Hindu Resources</li>
        <li class="list-group-item list-group-item-action">Kids and Youth</li>
        <li class="list-group-item list-group-item-action">Women</li>
        <li class="list-group-item list-group-item-action">Health and Life Style</li>
        <li class="list-group-item list-group-item-action">Marriage and Family</li>
        <li class="list-group-item list-group-item-action">Pujas and Samskars</li>
        <li class="list-group-item list-group-item-action">Spiritual Tourism</li>
        <li class="list-group-item list-group-item-action">Community</li>
        <li class="list-group-item list-group-item-action">India Hindu Shops</li>
        <li class="list-group-item list-group-item-action">Multimedia</li>
        <li class="list-group-item list-group-item-action">Education</li>
        <li class="list-group-item list-group-item-action">User Created</li>
        <li class="list-group-item list-group-item-action">Sites</li>
        <li class="list-group-item list-group-item-action">Photoalbum</li>
        <li class="list-group-item list-group-item-action">Clubs</li>
        <li class="list-group-item list-group-item-action">Left Sidebar</li>
    </ul>